body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Helvetica,
    "游ゴシック",sans-serif;
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 40px 0;
}

h1.header_title {
  font-weight: bold;
  font-size: 32px;
  color: #00277E;
}

nav.header_nav ul {
  width: 480px;
  display: flex;
  justify-content: space-between;
}

nav.header_nav ul li a {
  font-weight: bold;
  font-size: 21px;
  color: #00277E;
  text-decoration: none;
}

.main_content {
  position: relative;
}

img.mv {
  display: block;
  position: absolute;
  right: 0;
  z-index: 10;
  width: 50%;
  top: 5vw;
}

h2.main_title {
  font-size: 5vw;
  font-weight: normal;
  position: absolute;
  left: 0;
  top: 26vw;
}
.bg_blue {
  background-color: #00277E;
  width: 74%;
  position: absolute;
  top: 31vw;
  height: 14vw;
}